[core]
	autocrlf = false
	eol = lf
	editor = code -r -w
[user]
	email = 13860646+arthow4n@users.noreply.github.com
	name = Sheng-Han (Aysh) Su
[merge]
	conflictstyle = diff3
  tool = vscode
[mergetool "vscode"]
  cmd = code -w $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code -w --diff $LOCAL $REMOTE
